* {
    margin: 0;
    padding: 0;
     box-sizing: border-box;
}
body {
    background-color: pink;
}
.container {
    display: flex;
    gap: 3rem;
    background-color: pink;
}
.left-container{
    width: 50%;
}
.right-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-left: 8px solid #800000;
}
.right-container h1 {
     margin-left: 8rem;
}
.right-container-notes {
    display: flex;
    
    justify-content: flex-start;
    gap: 20px;
    height: 100vh;
    width: 100%;
    flex-wrap: wrap;
}
.color_and_text {
    display: flex;
    gap: 30px;
    padding: 4rem;
}
.color{
   margin-top: 4rem;
}
.add-note {
    display: flex;
    justify-content: center;
    align-items: center;
}
#textarea {
    border: 5px solid #800000;
    background-color: #a6a6b4;
}
.add-note button {
    background-color: #eff8f9;
    border-radius: 100px;
    border: 6px solid #800000;
    width: 6rem;
    height: 2.5rem;
    color: liceblue;
    font-weight: bold;
}
.output {
    display: flex;
    justify-content: space-between;
    height: 10rem;
    width: 10rem;
    padding: 10px;
    overflow: scroll;
    overflow-x: hidden;
    margin-left: 20px;
}
.btn2 {
    height: 1rem;
    width: 1rem;
    background-color: black;
    color: white;
    top: 10px;
    left: 190px;


    
}